{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function() {  
  
    var submit_form = function(e) 
    {
		  $.getJSON($SCRIPT_ROOT + '/_search', 
		  {
			a: $('input[name="a"]').val()
		  }, function(data) 
		  {
			  	var $ul = $('<div style=width:inherit;>');
				$('#content').empty();
				$('#content').append($ul);
				$.each(data.result, function(i,l)
			  	{
			  		if(l[0] == 'coursera')
			  		{
				  		var link;
				  		var course_id;
				  		$.each(l, function(ind,item)
				  		{
					  		if (ind == 0)
					  			return true;
					  		var $li = $('<div style=width:inherit;>');
					  		if (ind == 5)
					  			$li.append('<img width=120 src=' + item + '>');
					  		else if (ind == 1)
					  		{
					  			link = 'https://www.coursera.org/course/' + item;
					  			course_id = item;
					  		}					  			
					  		else if (ind == 2)
					  			$li.append('<a href =' + link + ' target=_blank>' + item);
					  		else 
					  			$li.append(item)
					  		$ul.append($li);
					  	});
					  	$li = $('<div style=width:inherit;>');
					  	$li.append('<input type=button class=rel-button value = NR ID=' + course_id + ' ></input>');
					  	$ul.append($li);
					  	
				  	}
				  	else
				  	{
					  	var link;
					  	var course_id;
				  		$.each(l, function(ind,item)
				  		{
					  		if (ind == 0)
					  			return true;
					  			
					  		var $li = $('<div  style=width:inherit;>');
					  		if (ind == 1)
					  			link = item;
					  		else if (ind == 2)
					  			$li.append('<a href =' + link + ' target=_blank>' + item);
					  		else if (ind == 7)
					  			$li.append('<a href= ' + item + ' target=_blank><img width=20 height=20 src=http://ridiculousfish.com/hexfiend/images/download_square.png></img></a>');
					  		else if (ind == 8)
					  			course_id = item
					  		else
					  			$li.append(item);
					  		$ul.append($li);
					  	});
					  	$li = $('<div style=width:inherit;>');
					  	$li.append('<input type=button class=rel-button value = NR ID=' + course_id + ' ></input>');
					  	$ul.append($li);
				  	}
			  });
      			
      	});
		
		$.getJSON($SCRIPT_ROOT + '/_search_isbn', 
		  {
			a: $('input[name="a"]').val()
		  }, function(data) 
		  {
			  	$('#book_content').empty();
			  	var $ul = $('<div style=width:inherit;>');
				$('#book_content').append($ul);
				$.each(data.result, function(i,l)
			  	{
			  	
			  		var link;
			  		$.each(l, function(ind,item)
			  		{
				  	
				  		var $li = $('<div style=width:inherit;>');
				  		if (ind == 0)
				  			$li.append('<img width=60 src=http://covers.openlibrary.org/b/isbn/' + item + '-S.jpg>');
				  		else if (ind == 2)
				  			link = item;
				  		else if (ind == 3)
				  			$li.append('<a href =' + link + ' target=_blank>' + item);
				  		else 
				  			return true;
				  		$ul.append($li);
				  	});
				 });
			}); 
				  	
      	return false;
    };
 	  
	  	$(".rel-button").live("click", function() 
	  	{
			var buttonId = $(this).attr("id");
			$.getJSON($SCRIPT_ROOT + '/_relevant',
			{
				a: buttonId,
				b: $('input[name="a"]').val()
			}, function(data)
			{
				alert(data.result);
			});
	});
  	
    $('a#calculate').bind('click', submit_form);
   

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  
 });
  
   
 
      	
</script>
<h1>What do you want to learn today?</h1>
<p>
  <input type=text size=20 name=a> 
<p><a href=# id=calculate>Search!</a>
<p><div id =spell></div>
<div>
<div style = "float:left;width:700px;overflow:auto" id=content></div>
<div style = "float:left;top-margin:100px;left-margin:500px;width:300px;overflow:auto" id=book_content></div>
</div>
{% endblock %}
