{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function() {
    var linkedin_login = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_login', {
      }, function() {
        
      });
      return false;
    };

    $('a#login').bind('click', linkedin_login);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        linkedin_login(e);
      }
    });

  });
</script>

<h1>Welcome to Learnera!<h1>
<h2>To use the application, Please login using your LinkedIn account</h2>
<a href=# id=login><img width=170 height=100 src='http://www.fastcompany.com/multisite_files/fastcompany/imagecache/1280/poster/2013/04/3007890-poster-linkedin.jpg'></img></a>
{% endblock %}
