{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function() {
    var linkedin_login = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_login', {
      }, function() {
        
      });
      return false;
    };

    $('a#login').bind('click', linkedin_login);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        linkedin_login(e);
      }
    });

  });
</script>
<div align="center">
<div align="center"><img src="http://wallpoper.com/images/00/10/71/94/zoozoo_00107194.jpg"></img>
<div><h1>Learnera!<h1></div>
</div>
<div><a href=# id=login><img width=270 height=150 src='http://www.fastcompany.com/multisite_files/fastcompany/imagecache/1280/poster/2013/04/3007890-poster-linkedin.jpg' align="middle"></img></a></div>
{% endblock %}



